@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --bs-primary: #8C111A !important;
    --bs-secondary: #260507 !important;
    --bs-success: #8FD29E !important;
    --bs-info: #53040B !important;
    --bs-warning: #F1D17E !important;
    --bs-danger: #EA1D2C !important;
    --bs-red: #E86C6C !important;
    --bs-light: #fff !important;
    --bs-dark: #000 !important;
    --bs-gray: #ECECEC !important;
    --bs-darkgray: #D9D9D9 !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(0deg, var(--bs-primary) -1.5%, var(--bs-secondary) 54.22%);
  }

.container {
    color: var(--bs-light);
    
}
  
  h1 {
    color: var(--bs-dark)
  }
  
  .table-hover tbody tr:hover {
    background-color: var(--bs-darkgray);
  }
  
  .table-responsive {
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--bs-light);
  }
  
  .btn-outline-danger {
    border-color: var(--bs-danger);
    background-color: var(--bs-light);
  }
  
  .btn-outline-danger:hover {
    background-color: var(--bs-danger);
    color: var(--bs-light);
  }

  .logo-img {
    width: 40px;
    height: 40px;
    min-height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }

  input.form-control {
    max-width: 500px; /* Definindo um tamanho máximo para o input */
  }
  
  small {
    font-size: 85%; /* Ajuste opcional para deixar a fonte um pouco menor */
    color: var(--bs-success); /* Cor de texto mais suave (opcional) */
  }
