@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.cadastro {
    white-space: nowrap;
  }
.carousel-item {
    background: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
  
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
}

.navbar-nav {
    margin-left: auto;
}
.navbar-toggler {
    margin-right: auto; /* Alinha o botão do menu burger à esquerda */
}
img {
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}
.area-imagem {
    margin: 20px 30px ;
}