@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.cadastro {
    white-space: nowrap;
  }
  .carousel-item {
    background: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
  }
  