@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --bs-primary: #8C111A !important;
  --bs-secondary: #260507 !important;
  --bs-success: #8FD29E !important;
  --bs-info: #53040B !important;
  --bs-warning: #F1D17E !important;
  --bs-danger: #EA1D2C !important;
  --bs-light: #fff !important;
  --bs-dark: #000 !important;
}

/*
  --bs-primary: #8C111A;
  --bs-secondary: #260507;
  --bs-success: #8FD29E;
  --bs-info: #53040B;
  --bs-warning: #F1D17E;
  --bs-danger: #EA1D2C;
  --bs-light: #fff;
  --bs-dark: #000;
*/



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  margin: 6px;
  background-color: #fff;
}

.container{
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, var(--bs-primary) -1.5%, var(--bs-secondary) 54.22%);
  border-radius: 8px;
  box-shadow: 0 4px 8px black;
}

label{
  color: white;
}

img {
  width: 350px;
}

.area-logo {
  position: relative;
}

.area-logo::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bs-info);
  margin: 0 auto;
}

.primary {
  position: relative;
}

.primary::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bs-info);
  margin: 42px auto 0 ;
}

@media (min-width: 992px) {

  .area-logo {
    margin: auto 0;
  }

  .area-logo::after {
    display: none;
  }

  .bg-white-desktop {
    width: 45%;
    height: fit-content;
    margin: auto 0;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .cadastro p, a {
    font-size: 20px;
  }

}